<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Proprietários</title>
</head>
<body>
<h2>Lista de Proprietários</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${proprietarios}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.nome}"></td>
        <td th:text="${p.telefone}"></td>
        <td>
            <a th:href="@{/proprietario/editar/{id}(id=${p.id})}">Editar</a> |
            <a th:href="@{/proprietario/deletar/{id}(id=${p.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/proprietario/cadastro}">Cadastrar Novo Proprietário</a>
</body>
</html>
