* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    color: red;
    padding: 10px;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    text-align: center;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.container > div {
    text-align: center;
    width: 280px;
    padding: 30px;
    text-align: center;
}

.container > div > h3 {
    text-align: center;
}

.container > div > p, details {
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
}

section {
    background-color: white;
    width: 1200px;
    margin: auto;
    justify-content: center;
}


summary {
    cursor: pointer;
    font-weight: bold;
    color: blue;
    padding-bottom: 10px;
}
