* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

/* Versão: Mobile */


body {
    background-color: darkgray;
}

p {
    line-height: 1.5em;
}

header nav {
    background-color: darkblue;
    align-items: center;
    padding: 0;
    border-bottom: 8px solid yellow;
}

header nav ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}


header nav a:link, header nav a:visited{
    text-decoration: none;
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav a:hover{
    display: block;
    width: 100%;
    background-color: yellow;
    color: black;
}

section{
    padding: 20px;
    background-color: white;
    border-bottom: 40px solid rgb(53, 53, 53);
}

.section_manutencao img {
    width: 100%;
}

.section_manutencao h1 {
    text-align: center;
    color: darkorange;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_manutencao p {
    text-align: justify;
    word-spacing: 0.1em;
}

.section_celulares h1 {
    text-align: center;
    color: darkorange;
    padding-bottom: 20px;
    font-size: 20px;
}

.section_celulares div {
    text-align: center;
}

.section_celulares p {
    text-align: justify;
    padding-bottom: 20px;
}

.section_celulares summary {
    text-align: left;
    padding-bottom: 30px;
}

.section_celulares summary, .section_celulares details p {
    color: darkorange;
    font-weight: bold;
}

.section_sobrenos h1 {
    font-size: 20px;
    padding-bottom: 20px;
    color: darkorange;
}

.section_sobrenos ul {
    padding: 10px;
    padding-bottom: 40px;
    font-size: 15px;
    margin-left: 10px;
}

.section_sobrenos p {
    word-spacing: 0.2em;
    text-align: justify;
    padding-bottom: 20px;
}

.section_faleconosco h1 {
    color: darkorange;
    font-size: 20px;
    padding-bottom: 15px;
}

.section_faleconosco p {
    text-align: justify;
    padding-bottom: 30px;
}

iframe {
    width: 100%;
    padding-bottom: 30px;
}

footer {
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;
}

/* Botão */

.button_green {
    background-color: rgb(20, 158, 20);
    color: white;
    padding: 12px;
    border: none;
}

/* Versão: Desktop */
@media screen and (min-width: 768px) {

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    body {
        background-color: rgb(53, 53, 53);
    }

    section {
        margin: auto;
        width: 1200px;
        border-bottom: 15px solid rgb(53, 53, 53);
    }
    
    .section_manutencao {
        padding: 50px;
    }

    .section_manutencao > div:nth-of-type(1){
        display: flex;
        flex-direction: row;
    }

    .section_manutencao > div {
        align-items: center;
    }

    .section_manutencao > div > div{
        padding: 10px;
    }

    .section_manutencao > div > div {
        width: 50%;
    }

    .section_manutencao h1{
        color: blue;
    }

    .section_celulares > div {
        display: flex;
        flex-direction: row;
    }

    .section_celulares > div > div {
       padding: 10px;
    }

    .section_celulares h1 {
        padding-top: 20px;
        color: blue;
    }

    .section_sobrenos h1 {
        color: blue;
    }

    .section_sobrenos > div{
        padding: 40px 40px;
    }

    .section_sobrenos > div {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .section_sobrenos > div > div {
        width: 33%;
    }

    .section_faleconosco {
        padding: 50px;
    }

    .section_faleconosco h1 {
        color: blue;
    }

    footer {
        border-top: 30px solid rgb(53, 53, 53)
    }
}