* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.botaoFala {
    padding: 20px;
    background-color: green;
    color: white;
    margin-top: 10px;
    border: none;
    font-size: 15px;
}

.botaoFala:hover {
    background-color: red;
}

.fala {
    margin-top: 20px;
    margin-bottom: 20px;
}
