h1 {
    font-family: arial;
    text-align: center;
    color: red;
    background-color: yellow;
    font-size: 50px;
    text-decoration: underline;
    letter-spacing: 10px;
}

p {
    font-family: arial;
    background-color: lightgray;
    font-style: italic;
    font-size: 20px;
    line-height: 3em;
}