/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* impede o body de rolar */
}

/* ==============================
   BARRAS LATERAIS FIXAS
   ============================== */
.sidebar {
    position: fixed;
    top: 0;
    width: 219px;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    z-index: 2;
}

.sidebar.left {
    left: 0;
    background-image: url("../img/leftbar.jpg");
}

.sidebar.right {
    right: 0;
    background-image: url("../img/rightbar.jpg");
}

/* ==============================
   MAIN — SOMENTE O MAIN ROLA
   ============================== */
main {
    position: absolute;
    top: 70px;       /* espaço igual ao header */
    left: 219px;     /* barra esquerda */
    right: 219px;    /* barra direita */
    bottom: 60px;    /* espaço igual ao footer */
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main::-webkit-scrollbar {
    display: none;
}


/* ==============================
   FOOTER FIXO
   ============================== */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    z-index: 1;

    display: flex;
    align-items: center;   /* centraliza verticalmente */
    justify-content: center;
}


