@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    background-image: url('../img/cadastro.jpg');
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }

 .cadastro {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
 }

 .cadastro h1 {
    color: white;
    text-align: center;
    font-size: 40px;
 }

 .cadastro label {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
 }

 .botaoCadastro {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 150px;
    background-color: green;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
 }

 .a-Entrar:hover {
    color: green;
    transition: 0.3s
 }