body {
  background-color: black;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  margin-top: -40px;
}

h1 {
  color: white;
}


.arrumadivs {
  display: contents; 
}


.card {
  width: 400px;
  height: 700px;
  position: relative;
  overflow: hidden; 
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: none;
  color: #333;
  transition: opacity 1.2s ease-in-out, visibility 1.2s ease-in-out;
  flex-shrink: 0;
  display: flex;  
  flex-direction: column;  
  opacity: 0; 
  visibility: hidden;  
}

.card.visible {
  opacity: 1;
  visibility: visible;  
}

.card-content {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column; 
}

.cardqtd-text {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

.card h1 {
  font-size: 24px;
  margin: 5px 0 20px 0;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.selecione {
  margin-top: 10px;
  margin-bottom: 20px;
}

.modomedio {
  background-image: url('/img/modomedio.png');
  background-position: -44px 50%;
  cursor: pointer;
}

.modofacil {
  background-image: url('/img/modofacil.jpg');
  background-position: center;
  text-align: center;
  cursor: pointer;
}

.mododificil {
  background-image: url('/img/mododificil.jpg');
  background-position: center;
  text-align: center;
  cursor: pointer;
}

.modomedio h1, .mododificil h1, .modofacil h1 {
  text-align: center;
  color: rgb(255, 60, 0);
  font-size: 35px;
  font-family: "MedievalSharp", cursive;
}

.aSair a:hover {
  color: red;
  transition: 0.3s;
}
