
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 219px;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    z-index: 2;
}

.sidebar.left {
    left: 0;
    background-image: url("../img/leftbar.jpg");
}

.sidebar.right {
    right: 0;
    background-image: url("../img/rightbar.jpg");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #3a2c1c;
    background-size: cover;
    color: white;
    font-family: "Jacquard 12", system-ui;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 219px;  
    right: 219px;  
    z-index: 5;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-weight: 300;
    position: relative;
    transition: 0.3s;
}

header nav a:hover::after {
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 70px;         
    width: auto;          
    margin-right: 10px;   
}

.saida {
    display: flex;
    align-items: center;
    gap: 10px;
}

main {
    position: absolute;
    top: 70px;       
    left: 219px;     
    right: 219px;    
    bottom: 60px;    
    overflow-y: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main::-webkit-scrollbar {
    display: none;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    z-index: 1;

    display: flex;
    align-items: center;   
    justify-content: center;
}


