@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

h1 {
    font-family: "Jacquard 12", system-ui;
}

main p {
    font-family: "Jacquard 12", system-ui;
}
