@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    background-color: #3a2c1c;
    background-size: cover;
    color: white;
    font-family: "Jacquard 12", system-ui;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);

    position: fixed;
    top: 0;
    left: 219px;  
    right: 219px;  
    z-index: 5;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header nav a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

header nav a:hover {
    color: purple;
}

header nav a:hover::after {
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 70px;         
    width: auto;          
    margin-right: 10px;   
}

.saida {
    display: flex;
    align-items: center;
    gap: 10px;
}
