main {
    background-image: url('../img/jogadores.gif');
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }

 .selecaoJogadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    margin-left: 900px;
 }

 .selecaoJogadores h1{
    color: white;
    margin-bottom: 40px;
    font-family: "Fira Sans", sans-serif;
    text-shadow: 10px 20px 10px rgba(0, 0, 0, 0.3);
 }

 .selecaoJogadores label {
   margin-top: 10px;
   font-family: "Fira Sans", sans-serif;
   margin-bottom: 5px;
   color: white;
 }

 .botaoJogadores {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 10px;
    width: 150px;
    background-color: rgb(243, 169, 10);
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
 }

.aSair:hover{
   color: red;
   transition: 0.3s;
}

.aSair {
   font-size: 30px;
   font-weight: bold;
}