@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    background-image: url('../img/paginainicial.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }


 .menuLogin {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
 }

 .menuLogin h1 {
    margin-top: -56px;
    font-size: 100px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
 }

.menuLogin label {
    color: white;
    font-family: "Fira Sans", sans-serif;
 }

 .menuLogin p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    text-align: center;
 }

.botaoLogin {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 150px;
    background-color: darkblue;
    margin-top: 2px;
    cursor: pointer;
 }
 
 .spanAqui {
    color: white;
 }

 .spanAqui:hover {
    color: white;
 }

 .headerNoticias {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    
 }

header a:hover{
    color: purple;
    transition: 0.3s;

}
