
main {
    background-image: url('../img/vitoria.jpg');
}

.aSair:hover{
   color: red;
   transition: 0.3s;
}

.aSair {
   font-size: 30px;
   font-weight: bold;
}

main h1 {
    font-family: "Fira Sans", sans-serif;
    color: gold;
    margin-top:100px;
    font-size: 100px;
    text-align: center;
}

#pontuacao-final {
    font-size: 40px;
    text-align: center;
    color: white;
}

.estatisticas {
    display: inline-block;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}


.botoes-vitoria {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#btnLogin {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 200px;
    background-color: darkblue;
    margin-top: 2px;
    cursor: pointer;
}

#btnJogarNovamente {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 200px;
    background-color: darkblue;
    margin-top: 2px;
    cursor: pointer;
}

#btnLogin:hover {
    background-color: red;
}

#btnJogarNovamente:hover {
    background-color: red;
}